<h1>heelo world</h1>
<div clas="row">
    <section class="user-info col-md-3">
        <%= render 'users/user_info' %>
    </section>
    
    <section class="friend_posts col-md-9">
        <%= render 'shared/feed' %>
    </section>
    
</div>