<div id="home-img-container">
<%= image_tag "/MIZUHO19217003_TP_V.jpg" %>
<h3>散歩グログで全国の散歩スポットを探そう!!<br>全国に自分の好きな場所を伝えよう!!</h3>
<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-success" %>
</div>