<div id="home-img-container">
<img src="assets/MIZUHO19217003_TP_V.jpg" id="home-img">
<h3>散歩グログで全国の散歩スポットを探そう!!</h3>
<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-success" %>
</div>