<li class="list-group-item">
    <p><%= comment.user.name %></p>
   <p><%= comment.content %></p>
   <% if current_user == comment.user %>
   <%= link_to "コメントの削除", comment, method: :delete,
                                       data: { confirm: "You sure?" } %>
                                       <% end %>
</li>