    <div class="user_index">
      
        <%= image_tag user.picture.show.url, :size => '70x70',class: "user-thumb" if user.picture? %>
        <%= link_to user.name, user %>
        <div class="prefecture">
        <%= user.prefecture %>
        </div>

    </div> 