<% @user ||= current_user %>
<div id="follow-info">
<a href="<%=following_user_path(@user) %>">
    <strong id="following">
    <%= @user.following.count %>フォロー
    </strong>
</a>
<a href="<%=followers_user_path(@user) %>">
    <strong id="followers"><%= @user.followers.count %>フォロワー</strong>
</a>
</div>