<div class="post-show">
<section class="about-user"><%= @post.user.name %></section>
<section classs="about-post mt-4"><%= simple_format(@post.content) %></section>
<div>
<%= link_to "編集", edit_post_path(@post), class: "btn btn-success" %>
</div>
<div>
    <%= link_to "削除", @post, method: :delete,
                                       data: { confirm: "You sure?" } %>

</div>
</div>