@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
 @import "font-awesome";
//初期設定
.container{
 margin-top: 100px; 
}
a{
color: #696969;
} 
a:hover{
color: #808080;
text-decoration:none
}
//新規ユーザーフォーム
.title{
margin-top: 100px;
    
}
.form-group{
 margin-top:20px;
 
}
.control-label{
 margin-top:20px;   
}

//エラー
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
//ユーザー一覧

.user_index{
 padding:40px;
 border-bottom: 1px solid #d3d3d3;
 font-size: 20px;
}
.prefecture{
 text-align: right;   
}


//show
.show-name,
.show-user-pref{
 height: 50px;
 font-size: 20px;
}

#user-post-number,
#user-favorite-number{
 
 padding: 20px;
 cursor: pointer	;
 
}
#post-menu{
 text-align: center;
}

//edit user
.delete-button{
 margin-top: 50px;
 width: 100%;
}

//記事の大まかな表示
.post-ident{
 padding: 30px;
 border-bottom: 1px solid #dcdcdc;
 position: relative;
}
.post-user-name{
 margin-right: 100px;
}
//postのひとつ　
#post-details{
 margin-right: 0;
 position: absolute;
 bottom: 0;
 right: 0;
}
#post-fav-detail{
 padding: 20px;
}
#post-create-detail{
 padding: 20px;
}

.about-user{
 padding: 20px;
 border-bottom: 1px solid #dcdcdc;
}
.about-post{
 margin-top:20px;
}

//ユーザーアイコン
.user-thumb{
 border-radius: 50%;
}

//spost-how
.post-title{
margin-top: 40px;
}

.post_image{

 text-align: center;
}
.about-user{
 position: relative;
}
.post-content{
 margin-top:20px;
 padding: 10px;
}
.post-show-image{
 
 width: 100%;
}
#post-show-title{
font-size: 20px;
 margin-left: 100px;
}
#post-edit-link{
 position: absolute;
 bottom: 0;
 right: 10px;
 
}
.post-content{
 padding: 10px;
 line-height: 30px
}
.fa-heart{
 color: red;
 font-size: 20px;
}
.button-as_link{
background: none;
  border: none;
  padding: 0;
}
#comment-form{
 width: 100%;
}
//ホームのユーザーinfo
.user-name{
 margin-top:20px;
 font-size: 20px;
}
.show-user-pref{
 margin-top: 20px;
}

//follow_info
#follow-info{
 text-align: center;
 margin-top: 10px;
}
#following{
 border-right: 1px solid #dcdcdc;
  padding: 20px;
}
#followers{
 
  padding: 20px;
}


//follow botan
.unfollow-button,
.follow-button{
 margin-top: 20px;
 width: 100%;
 text-align: center;
}
#follow_form{
 margin-top: 20px;
}

